@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body, .page-container, .mastered-main, .mastered-title, .mastered-subtitle, .mastered-desc, .features-list, .feature-item, .feature-title, .feature-desc {
  font-family: 'Montserrat', Arial, sans-serif !important;
  .mastered-page,
  .page-container.mastered-page {
    display: block;
    min-height: unset;
    height: auto;
    width: 100%;
  }
  .mastered-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  .mastered-main {
    margin-top: 0;
    min-height: unset;
    height: auto;
    background-size: cover;
    width: 100%;
    display: block;
  }
  .mastered-main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
    min-height: 100vh;
  }
  .mastered-main#platform-features {
    background: url(../public/images/left-border-mastered-tailored.png) no-repeat center center;
    background-size: cover;
   }
  .mastered-main#platform-intro {
    padding-bottom: 2.5rem;
  }
  .intro-background-mastered{
    background: url(../public/images/Mastered\ background\ pic.png) no-repeat center center;
    background-size: 100% 100%;
  }
  .intro-background-tailored{
    background: url(../public/images/Tailored\ background\ pic.png) no-repeat center center;
    background-size: 100% 400%;
  }
  .mastered-features {
    width: 50%;
    box-sizing: border-box;
    margin: 0 auto;
    padding-bottom: 2rem;
  }
  .mastered-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 95%;
    position: relative;
    bottom: 20%;
  }
  text-shadow: 0 2px 8px rgba(0,0,0,0.15);
  margin: 0;
  max-width: 100vw;
  box-sizing: border-box;
}
.mastered-subtitle {
  /* font-stretch: condensed;
  letter-spacing: -0.08em; */
  font-family: 'TT Wellingtons', Arial, sans-serif;
  font-size: 3.5rem;
  margin-bottom: 1rem;
  text-shadow:
    1.5px 0 #bfbfbf,
    -1.5px 0 #bfbfbf,
    0 1.5px #bfbfbf,
    0 -1.5px #bfbfbf,
    1.5px 1.5px #bfbfbf,
    -1.5px -1.5px #bfbfbf,
    1.5px -1.5px #bfbfbf,
    -1.5px 1.5px #bfbfbf;
  font-weight: 300;
  margin-top: 1rem;
}
.mastered-features .mastered-subtitle {
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
  text-shadow: none;
  margin-top: 10rem;
  margin-bottom: 10rem;
}
.mastered-desc {
  font-size: 1.8rem; 
  margin-top: 2rem;
  margin-bottom: 0;
  font-weight: 400;
  width: 70%;
  line-height: 1.9;
}
.mastered-desc b{
  font-weight: 600;
}

.features-list {
  list-style: none;
  padding: 0;
  margin-left: 8rem;
  width: 130%;
}
@media(max-width:1600px)
{
  .features-list {
    margin-left: 1rem;
  }
}
.feature-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 5.5rem;
}
.feature-icon {
  width: 100px;
  height: auto;
  margin-right: 1rem;
  vertical-align: middle;
}
.feature-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#mastered-h1-title{
    font-size: 11rem;
    font-weight: 400;
    text-shadow: 3px 3px #46b4dc;
    margin-top: 0;
  }
@media (max-width: 600px) {
    .mastered-features {
    width: 95%;
  }
  .mastered-page,
  .page-container.mastered-page {
    display: block;
    min-height: unset;
    height: auto;
    width: 100%;
  }
  .mastered-main {
    margin-top: 6rem;
    height: auto;
    min-height: unset;
    background-size: cover;
    width: 100%;
  }
  .mastered-main#platform-features {
     margin-top: 2.5rem;
     padding-top: 0.5rem;
     clear: both;
     min-height: unset;
     max-height: unset;
     overflow-y: unset;
  }
  .mastered-content {
    width: 95%;
  }
  .site-footer {
    position: relative;
    margin-top: 0;
  }
  #platform-intro {
    background: url('../public/images/Lomdei Home page background.png') no-repeat center center;
    background-size: 100% 100%;
  }
  .mastered-main {
    background: url(../public/images/left-border-mastered-tailored.png);
    height: 60vh;
  }
}
.page-container.mastered-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.page-container.mastered-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.page-container.mastered-page > main {
  flex-shrink: 0;
}
.page-container.mastered-page > main {
  flex-shrink: 0;
}
.site-footer {
  margin-top: 0;
  width: 100vw;
  min-height: 14rem;
  background: #9bc4d9;
  padding: 2rem;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.feature-title {
    font-size: 1.7rem;
    margin-bottom: 0;
}
.feature-desc, .impact-desc {
    font-size: 1.7rem;
    margin-top: 0.5rem;
}
.blue-background {
    background-color: #0f90ce;
    padding: 4rem 12rem 4rem 0;
    height: 50vh;
}
.impact-main {
  margin-top: 8rem;
  margin-bottom: 40rem;
}
h2.impact-title{
  font-size: 4.6rem;
  font-weight: 700;
  text-align: right;
  padding-right: 10%;
  text-shadow: none;
  margin-bottom: -0.8rem;
}
.impact-inner {
  width: 50%;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.impact-text {
  background-color: white;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  font-size: 3rem;
  height: 100%;
  line-height: 2.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 900px) {
    .impact-title {
        margin-left: 0;
        text-align: center;
  }
}
.impact-desc {
        text-align: center;
        font-size: 53%;
        margin-top: 0;
        margin-bottom: 0;
 }
.intro-background-mastered,
.intro-background-tailored {
  min-height: 110vh !important;
  height: auto !important;
}
html, body {
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
